@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;500;600;700;800;900&family=Roboto&family=Inter:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}